/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

/* Шапка */
header {
    background-color: #ffffffce;
    top: 10px;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 5;
}

.header_Logo {
    width: 6%;
    margin-left: 5%;
    border-radius: 50px;
}

nav {
    display: flex;
    list-style: none;
    margin-right: 5%;
    gap: 20px;
}


nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.header_but {
    background-color: #ff6600;
    color: #fff;
    padding: 20px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 5%;
}

.header_but a{
    color: #ddd;
    text-decoration: none;
}

/* Основной контент */
.main_top{
    position: absolute;
    top: 75%;
    left: 5%;
    border-radius: 30px;
    padding: 2%;
}

.main {
    padding: 50px;
}

.main_zag {
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ff6600;
}

.main_info {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #fff;
}

.main_but {
    background-color: #ff6600;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.main_but:hover {
    background-color: #555;
}

.mp4_top {
    margin: -50px;
    width: 2300px;
    height: 1300px;
}

.section_top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.section_top img{
    width: 100%;
    height: 100%;
}

/* Style the slider container */
.slider {
    position: relative;
    width: 100%; /* adjust the width to your needs */
    height: 50%; /* adjust the height to your needs */
    overflow: hidden;
    white-space: nowrap; /* make the images inline */
  }
  
  /* Style the slider images */
  .slider img {
    width: 800px; /* adjust the width to your needs */
    height: 600px; /* adjust the height to your needs */
    margin: 10px; /* add some margin between images */
    transition: transform 0.5s; /* add a smooth transition effect */
  }
  
  /* Make the images inline and move them to the left */
  .slider img {
    display: inline-block;
    transform: translateX(0);
  }



/* Текстовый раздел */
.section_text {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.section_text_item {
    width: 40%;
    text-align: left;
}

.section_text_item p {

    line-height: 1.5;
    font-weight: bold;
    font-size: 18px;
}

/* Раздел с подкастами */
.section_podk {
    padding: 30px;
    text-align: center;
}

.section_podk_zag {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.section_podk_item {
    display: inline-block;
    width: 20%;
    text-align: left;
    margin: 0 10px 20px 10px;
}

.section_podk_item img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.section_podk_item_text {
    font-size: 14px;
    margin-bottom: 5px;
}

.section_podk_item_but {
    background-color: #ff6600;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.section_podk_item_but:hover {
    background-color: #ff8000;
}

/* Верхний раздел с подкастами */
.section_podk_top {
    background-color: #f0f0f0;
    padding: 30px;
    text-align: center;
}

.section_podk_top_zag {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.section_podk_top_item {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.section_podk_top_item_text {
    width: 45%;
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.section_podk_top_item_text img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Раздел с цифрами */
.section_top_numbers {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.section_top_numbers_item {
    text-align: center;
}

.section_top_numbers_item_text {
    color: rgb(252, 102, 32);
    font-size: 24px;
    font-weight: bold;
}

/* Видео раздела */
.section_mp4 {
    padding: 30px;
    text-align: center;
}

.mp4_butom {
    width: 100%;
    height: 1000px;
    border-radius: 10px;
}

/* Отзывы */
.section_otz {
    padding: 30px;
    text-align: center;
}

.section_otz img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Звезды */
.section_stars {
    background-color: #f0f0f0;
    padding: 30px;
    text-align: center;
}

.section_stars_zag {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.section_stars_item {
    display: inline-block;
    width: 20%;
    text-align: left;
    margin: 0 10px 20px 10px;
}

.section_stars_item img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.section_stars_item_text {
    font-size: 14px;
    margin-bottom: 5px;
}

/* Часто задаваемые вопросы */
.section_questions {
    padding: 30px;
    text-align: center;
}

.section_questions_zag {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.answer {
    display: none;
    transition: display 0.5s; 
  }
  
  .question.active .answer {
    display: block;
  }

.answer {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.question{
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    background-color: #faf6f6;
    width: 800px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Иконки соц сетей */
.section_ico {
    padding: 30px;
    text-align: center;
}

.section_ico img {
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

/* Форма обратной связи */
.section_form {
    padding: 30px;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.section_form_zag {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.section_form input,
.section_form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.section_form textarea {
    resize: vertical;
    height: 100px;
}

.section_form_but {
    background-color: #ff6600;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.section_form_but:hover {
    background-color: #ff8000;
}

/* Карта */
.section_map {
    padding: 30px;
    text-align: center;
}

.section_map_text {
    position: absolute;
    background-color: #ffffffcb;
    margin-top: 6%;
    padding: 20px;
    border-radius: 50px;
    text-align: left;
    margin-bottom: 20px;

}

.section_map_text p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 5px;
}

.Map {
    width: 100%;
    height: 400px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

/* Футер */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_copyright {
    margin-left: 5%;
}

.footer_nav {
    display: flex;
    list-style: none;
    margin-right: 5%;
}

.footer_nav li {
    margin-right: 20px;
}

.footer_nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}